/* fonts:  */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(http://allfont.net/allfont.css?fonts=digital-7);

body{
    text-align: center;
    background: #00aa77;
    background-image: url("https://imgur.com/jZVwGot.png"), url("https://imgur.com/jZVwGot.png");
    background-repeat: repeat-x, repeat;
    }
h1 {font-family: "Comic Sans MS", cursive, sans-serif	
}

h1 {font-family: "Comic Sans MS", cursive, sans-serif	
    }
    img {
        position: absolute;
        left: 200px;
         top: 137px;
    }



    #slotMachineBody {    
        background-color: #054c5c;
        width: 900px;
        height: 350px;
        border: 15px solid #150467;
        border-radius: 50px;
        padding: 50px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .roller {
        background-color: lightgray;
        width: 100px;
        height: 90px;
        border: 5px solid silver;
        border-radius: 5px;
        margin: auto;
        box-shadow:
        0 0 60px 30px #ffffff29, 
        0px 0px 20px 7px #0ff3;
    }
    #middleBox {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #leftBox {
        margin-right: 20px;
    }
    #rightBox {
        margin-left: 20px;
    }
    
    .rollerContainer {
      display: flex;
      flex-direction: row;
      margin: auto;
      margin-right: 100px;
    }
.display { /* h1, h2 */  
    text-align: center;
}
.emoji {
    font-size:80px;
    margin-top: -6px;
    margin-left: 13px;

}

.emojies {
    right: 582px;
    top: 125px;
    position: relative;
    display: flex;
    flex-direction: column;

  }
  #beginButton, #start, #resetButton {
    height: 30px;
      background-color:#fe1a00;
      border-top-left-radius:6px;
      border-top-right-radius:6px;
      border-bottom-right-radius:6px;
      border-bottom-left-radius:6px;
      text-indent:0px;
      border:1px solid #d83526;
      display:inline-block;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      font-style:normal;
      padding-top:15px;
      padding-bottom:3px;
      padding-left:15px;
      padding-right:15px;
      text-decoration:none;
      text-align:center;
      text-shadow:1px 1px 0px #b23e35;
  }

  #start{
    padding-bottom: 3px;
    padding-top: 16px;
  }
  #beginButton, #start,#resetButton :hover {
      background-color:#ce0100;
  }
  
#start{
    top: -8px;
}
  #gamePlayedBox{
        position: absolute;
        left: 250px;
        top: 177px;

        background-color: gray;
        width: 200px;
        height: 50px;
        border: 5px solid silver;
        border-radius: 5px;
        margin: auto;
        /* box-shadow:
        0 0 60px 30px #ffffff29, 
        0px 0px 20px 7px #0ff3; */
  }
  #gamePlayed{
    font-family: 'Sriracha', sans-serif;
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    top: -34px;
    left: 6px;
  }

  p {
    position: absolute;
    top: 80px;
    left: 466px;
    font-family: 'Fake Hope Regular';
    font-size: 90px;
    }
h3, footer{
    font-family: 'Times-New-Roman';
    font-size: 15px;
}

    @font-face {
        font-family: 'Fake Hope Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Fake Hope Regular'), url('FakeHope.woff') format('woff');
        }
    
        .link{
            color: blue;
        }
        .link :hover{
            background-color: red;
            font-style: italic;
        }

#resetButton{
    position: relative;
    top: 315px;
    left: -800px;
}
#beginButton{
    position: relative;
    left: 120px;
    top: 150px;
}

#winningText{
    top: 260px;
    left: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
}
